.leftPart{
  height: 600px;
  background-image: url('../images/bg.jpg');
  background-origin: border-box;
  background-attachment:fixed;
  background-position:center center;
  color: rgb(5, 12, 73);
}