.leftPart{
  height: 600px;
  background-image: url('../images/bg.jpg');
  background-origin: border-box;
  background-size: contain;
  color: rgb(5, 12, 73);
  text-align: center;
  h1{
    padding-top: 30%;
  }
}
